---
---

/* Add your custom style here */
@import "portfolYOU";

#attribution {
  display: none;
}

.mt-5 {
  margin-top: 2rem !important;
}

.my-5 {
  margin-top: 2rem !important;
}

#container.my-2 {
	display: inline-block;
	position: relative;
	width: 70%;
}

#container.my-2 {
	position: relative;
}
#container.my-2::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
#container.my-2:hover::before {
	-webkit-animation: shine 1.5s;
	animation: shine 1.5s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
